@font-face {
  font-family: 'athrmade';
  src: url('https://cdn.jsdelivr.net/gh/ahmedFayed60/custom-fonts/MyCustomFont.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/ahmedFayed60/custom-fonts/MyCustomFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'athrmade', sans-serif;
}
